<nz-layout class="layout1">
      <nz-header>
        <div class="logo"><img src="../../assets/image.webp" alt="logo" /> </div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
          <li nz-menu-item routerLink="/all">All Products</li>
          <li nz-menu-item (click)="showModalMiddle()">Add Products</li>
          <li nz-menu-item routerLink="/exp">Out of Warranty Products</li>
         <li nz-menu-item><a class="tr" style="color: white;font-size: 16px;padding-left: 250px;font-weight: bolder; text-align: centre;">Product Management App</a></li>
        </ul>
      </nz-header>
      <nz-content >
      <router-outlet></router-outlet>
           </nz-content>
    </nz-layout>







    <nz-modal
  [(nzVisible)]="isVisibleMiddle"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancelMiddle()"
>
  <ng-template #modalTitle>Add product</ng-template>
   
  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitupdateForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="please input name">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>Type</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your product type!">
          <input
            nz-input
            id="type"
            formControlName="type"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="place" nzRequired>Place</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your product place!">
          <input
            nz-input
            id="place"
            formControlName="place"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="warranty" nzRequired>Warranty</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your warranty!">
          <input
            nz-input
            id="warranty"
            formControlName="warranty"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
    <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelMiddle()">cancel</button>
    <button nz-button nzType="primary" (click)="submitupdateForm()" [disabled]="!validateForm.valid" > Submit</button>
  </ng-template>
</nz-modal>